strict_dsl = true #aaa
default_expr_processor = "expr_phase"
[[config_setting]]
name = "with_exp_1000"
cond = 'expid==1000'
[[config_setting]]
name = "with_exp_1001"
cond = "expid==1001"
[[config_setting]]
name = "with_exp_1002"
cond = "expid==1002"

[[graph]]
# 若processor的member名能自动关联，则配置无需定义input/output, 能自动关联
name = "auto_graph"
[[graph.vertex]]
processor = "phase0"
input = [{ field = "v0", extern = true }]
args = { abc = "default", xyz = "zzz" }
[[graph.vertex]]
processor = "phase1"
[[graph.vertex]]
processor = "phase2"
[[graph.vertex]]
processor = "phase3"


[[graph]]
name = "sub_graph0"
# 其它复杂情况
[[graph.vertex]]
processor = "phase0"
input = [{ field = "v0", extern = true }]
output = [{ field = "v1" }, { field = "v2" }]
select_args = [
    { match = "with_exp_1000", args = { abc = "hello1", xyz = "aaa" } },
    { match = "with_exp_1001", args = { abc = "hello2", xyz = "bbb" } },
    { match = "with_exp_1002", args = { abc = "hello3", xyz = "ccc" } },
]
args = { abc = "default", xyz = "zzz" }
[[graph.vertex]]
processor = "phase1"
input = [{ field = "v2" }]
output = [{ field = "v3" }, { field = "v4" }]
[[graph.vertex]]
processor = "phase2"
input = [{ field = "v1" }]
output = [{ field = "v5" }, { field = "v6" }]
[[graph.vertex]]
processor = "phase3"
id = "phase3_0"
input = [
    { field = "v1" },
    { field = "v2" },
    { field = "v3" },
    { field = "v4" },
    { field = "v5" },
    { field = "v6" },
]
output = [{ field = "v100", id = "m0" }]
[[graph.vertex]]
processor = "phase3"
id = "phase3_1"
input = [
    { field = "v1" },
    { field = "v2" },
    { field = "v3" },
    { field = "v4" },
    { field = "v5" },
    { field = "v6" },
]
output = [{ field = "v100", id = "m1" }]
[[graph.vertex]]
expect = 'user_type=="34old"'
# expect_config = "with_exp_1002"
processor = "phase3"
id = "phase3_2"
input = [
    { field = "v1" },
    { field = "v2" },
    { field = "v3" },
    { field = "v4" },
    { field = "v5" },
    { field = "v6" },
]
output = [{ field = "v100", id = "m2" }]
[[graph.vertex]]
processor = "phase4"
input = [{ field = "v100", aggregate = ["m0", "m1", "m2"] }]
[[graph.vertex]]
processor = "phase5"
input = [{ field = "v100", move = true }]
output = [{ field = "v100", id = "new_v100" }]
[[graph.vertex]]
processor = "phase6"
input = [{ field = "v100", id = "new_v100", move = true }]
output = [{ field = "v100", id = "new2_v100" }]
